@page{
    size: letter portrait;
    margin: 0;
  }
  
  *{
    box-sizing: border-box;
  }

  .img-fluid {
    max-width: 25%;
    height: 15%; 
    float: right;
  }
  
  .fusion-standard-logo{
    max-width: 25%;
    height: 0%; 
  }

  :root{

    text-align-last: left;
    --page-width: 10in;
    --page-height: 13in;
    --main-width: 25in;
    --sidebar-width: calc(var(--page-width) - var(--main-width));
    --decorator-horizontal-margin: 0.2in;
    --sidebar-horizontal-padding: 0.2in;
  
    /* XXX: using px for very good precision control */
    --decorator-outer-offset-top: 20px;
    --decorator-outer-offset-left: -5.5px;
    --decorator-border-width: 1px;
    --decorator-outer-dim: 9px;
    --decorator-border: 1px solid rgb(204, 204, 204);

    --row-blocks-padding-top: 5pt;
    --date-block-width: 0.6in;
  
    --main-blocks-title-icon-offset-left: -19pt;
  }
  
  body{
    width: var(--page-width);
    height: var(--page-height);
    margin: 0;
    font-family: sans-serif;
    font-weight: 0;
    line-height: 1.3;
    color: #444;
    hyphens: auto;
  }
  
  h1, h2, h3{
    margin: 0;
    color: cadetblue;
  }

  .project{
    margin: 0;
    color: #000;  
  }
  
  li{
    list-style-type: none;
  }
  
  #main{
    float: left;
    width: var(--main-width);
    padding: 0.25in 0.25in 0 0.25in;
    font-size: 8pt;
  }

  /** big title **/
  #title, h1, h2{
    color:rgba(65, 52, 52, 0.911);
    text-transform: uppercase;
    font-size: 14pt;
    font-family:  sans-serif;
  }
  
  #title{
    position: relative;
    left: 0.55in;
    margin-bottom: 0.3in;
    line-height: 1.2;
    font-weight: bold;
    font-family: sans-serif;
  }
  
  #title h1{
    font-weight: 300;
    font-size: 20pt;
    line-height: 0;
    display: center;
    font-weight: bold;
  }

  .center {
    display: center;
    width: 20%;
    height: 10%;
  }

.content {
    max-width: 500px;
    margin: auto

}
.SIM-BOX{
    margin: 0;
    color: #000;
    font-family: sans-serif;
    font-weight: bold;
}

.recomm{
    color: #444;
    font-family: sans-serif;
    font-weight: bold;  
}
.date{
    font-weight: bold;
    color: rgb(90, 84, 84);
}

.footer {
 position: fixed;
 left: 0;
 bottom: 0;
 width: 100%;
 background-color: black;
 color: #000;
 display: flex;
  }

  .contact{
    text-align: righ;
    color: black;
    position: absolute;

  }
